n8n/sampark-workflow.json
{
  "name": "Sampark — Trigger & Resolve",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sampark-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -16
      ],
      "id": "1153fdd4-53b1-440a-8595-70505c63b76b",
      "name": "Webhook",
      "webhookId": "f08e0344-b8d7-4ec3-8e0f-673c7f50da6c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf69b986-0bb6-4d9b-9648-06dbb4ef79fb",
              "name": "enriched",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "fed5c9bd-cfb3-49d6-81f7-4b6a941394ae",
      "name": "Enrich Order Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/trigger-call",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"order\": $('Webhook').item.json.body.order, \"customer_lines\": $('Webhook').item.json.body.customer_lines }\n  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -16
      ],
      "id": "ab6d63c2-b6fa-4a90-b5bf-ab648f0bccc2",
      "name": "Call Voice Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "=={{ $json.disposition }}",
                    "rightValue": "CONVERTED_PREPAID",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "1ba24482-6bd5-4eaf-91d2-955962e703db"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f6cac432-81c5-4700-9c4c-3e6e50cb346a",
                    "leftValue": "=={{ $json.disposition }}",
                    "rightValue": "RESCHEDULED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4a1a551b-906d-4650-b76a-b960064be40b",
                    "leftValue": "=={{ $json.disposition }}",
                    "rightValue": "ADDRESS_FIXED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c681b200-975f-471f-9108-0743eae87d62",
                    "leftValue": "=={{ $json.disposition }}",
                    "rightValue": "CANCELLED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -64
      ],
      "id": "62c394f7-e883-4f0e-83b6-e6ebfc344e8c",
      "name": "Route on Disposition"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-mock-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"action\": \"mark_prepaid\",\n    \"order_id\": \"{{ $('Call Voice Agent').item.json.order_id }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -400
      ],
      "id": "d10b0451-ae0c-46de-9d21-af4f69e3a8d8",
      "name": "OMS: mark prepaid"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-mock-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"to\": \"{{ $('Call Voice Agent').item.json.order_id }}\",\n    \"template\": \"prepaid_confirmed\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -400
      ],
      "id": "9cbeb1f0-6368-49e0-82ec-42c6b23de4e2",
      "name": "WhatsApp - Payment Confirmation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-mock-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"action\": \"reschedule\",                                                   \n    \"order_id\": \"{{ $('Call Voice Agent').item.json.order_id }}\",\n    \"slot\": \"{{ $('Call Voice Agent').item.json.tools_called[0].args.preferred_slot }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -208
      ],
      "id": "61f90d5a-230b-4012-a253-59b2a28162b0",
      "name": "3PL: reschedule"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-mock-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"action\": \"update_address\",\n    \"order_id\": \"{{ $('Call Voice Agent').item.json.order_id }}\",\n    \"address\": \"{{ $('Call Voice Agent').item.json.tools_called[0].args.corrected_address }}\",\n    \"landmark\": \"{{ $('Call Voice Agent').item.json.tools_called[0].args.landmark }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -16
      ],
      "id": "9a4d073d-5035-49de-9e4c-ff89f40cabd7",
      "name": "OMS: update address"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-mock-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"action\": \"cancel_and_hold\",\n    \"order_id\": \"{{ $('Call Voice Agent').item.json.order_id }}\",\n    \"reason\": \"{{ $('Call Voice Agent').item.json.tools_called[0].args.reason }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        176
      ],
      "id": "e2f480dc-ee0b-48b1-b498-fb5d72395607",
      "name": "OMS: cancel + 3PL hold"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-mock-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"channel\": \"#ndr-escalations\",\n    \"text\": \"Manual follow-up needed for order {{ $('Call Voice Agent').item.json.order_id }}, disposition {{\n  $('Call Voice Agent').item.json.disposition }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        368
      ],
      "id": "f0096f75-9388-4a97-87c1-b3feb10f2d27",
      "name": "Slack: human queue"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/your-mock-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"order_id\": \"{{ $('Call Voice Agent').item.json.order_id }}\",\n    \"disposition\": \"{{ $('Call Voice Agent').item.json.disposition }}\",\n    \"language\": \"{{ $('Call Voice Agent').item.json.language }}\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        -16
      ],
      "id": "ba633e9a-562b-473a-ab78-676fbae52881",
      "name": "Log to CRM"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"disposition\": $('Call Voice Agent').item.json.disposition } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        -16
      ],
      "id": "939fad9f-a90f-4b52-8127-46933a7b4fe7",
      "name": "Done"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Enrich Order Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Order Context": {
      "main": [
        [
          {
            "node": "Call Voice Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Voice Agent": {
      "main": [
        [
          {
            "node": "Route on Disposition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Disposition": {
      "main": [
        [
          {
            "node": "OMS: mark prepaid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3PL: reschedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OMS: update address",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OMS: cancel + 3PL hold",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: human queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OMS: mark prepaid": {
      "main": [
        [
          {
            "node": "WhatsApp - Payment Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - Payment Confirmation": {
      "main": [
        [
          {
            "node": "Log to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3PL: reschedule": {
      "main": [
        [
          {
            "node": "Log to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OMS: update address": {
      "main": [
        [
          {
            "node": "Log to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OMS: cancel + 3PL hold": {
      "main": [
        [
          {
            "node": "Log to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: human queue": {
      "main": [
        [
          {
            "node": "Log to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to CRM": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "id": "b19hUFFswSaam5UaE-Lhf",
  "tags": []
}
